@use '@angular/material' as mat;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@include mat.core();

$my-theme-primary: mat.define-palette(mat.$indigo-palette, 500, 200, 800);
$my-theme-accent: mat.define-palette(mat.$cyan-palette);
$my-theme-warn: mat.define-palette(mat.$deep-orange-palette, A200);

$light-theme: mat.define-light-theme( ( color: ( primary: $my-theme-primary, accent: $my-theme-accent, warn: $my-theme-warn, ), ) );

:root{
    --bs-body-font-family: "Helvetica Neue", Arial;
}
$navbar-dark-active-color: $white;


.light-theme {
  @include mat.all-component-themes($light-theme);
  
}

.light-theme {
  background-color: #464658;
  min-height: 100vh;
  color: #e3e3e8;
}

mat-form-field {
  width: 300px;
}

mat-select-content {
  background-color:white !important;
}

mat-form-field span.mat-form-field-label-wrapper label {
  color: #e3e3e8 !important;
}

mat-form-field.mat-focused span.mat-form-field-label-wrapper label {
  color: #e3e3e8 !important;
}


.mat-calendar {
  background-color: #d5d5dd;
}

.mat-flat-button.mat-custom {
  background-color: #47476b;
  color: #fff;
}


button {
  font-size: 20px;
  border: 1px solid;
  margin: auto;
}






