
<input mat-input [(ngModel)]="name">

<button mat-stroked-button color="primary" (click)="add()">Добавить упражнение</button>
<mat-form-field>
  <mat-select placeholder="Категории" [formControl]="categoriesFormControl" multiple>
    <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
  </mat-select>
</mat-form-field>
<p>Описание:</p>
<input mat-input [(ngModel)]="description">
<p>Картинка:</p>

<input type="file" id="FUImage" name="FUImage" accept=".png, .jpg, .jpeg" (change)="handleFileInput($event)">


