
<body [class]="cookieService.OS.S.theme.obs | async">
  <mat-sidenav-container class="example-container" >
    <mat-sidenav #sidenav mode="side">

      <div layout="vertical" layout-fill>

        <p><button mat-button (click)="sidenav.toggle()">Закрыть меню</button></p>

        <mat-nav-list>
          <a routerLink="/progress">Базинга</a> <br />
          <a routerLink="/login">Авторизация</a> <br />
          <a routerLink="/register">Регистрация</a> <br />
          <a routerLink="/profile">Профиль</a> <br />
          <a routerLink="/about">О нас</a> <br />
          <a routerLink="/add-exercises">Добавить анжуманя</a> <br />
          <a routerLink="/exercises"> анжуманя</a> <br />
          <a routerLink="/programs">Добавить программу</a> <br />


        </mat-nav-list>

        <cd-timer #basicTimer [autoStart]="false"></cd-timer>
        <button mat-button (click)="timerGetValue()">get nigga</button>

        <mat-button-toggle-group #group="matButtonToggleGroup" (change)="alala($event)">
          <mat-button-toggle value="start" aria-label="">
            <mat-icon>format_align_left</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="stop" aria-label="">
            <mat-icon>format_align_center</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="resume" aria-label="">
            <mat-icon>format_align_right</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </mat-sidenav>

    <mat-sidenav-content>

      <h2>Электронный журнал старосты</h2>
      <p><button mat-button (click)="sidenav.toggle()">Открыть меню</button></p>
      <router-outlet></router-outlet>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </mat-sidenav-content>
  </mat-sidenav-container>

</body>
